html{
    scroll-behavior: smooth;
}

.header--page_nav-wrapper{
    margin: 4px 5px 0 0;
    position: absolute;
    right: 0;
    list-style: none;
    display: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px 2px #18B4CF;
    width: 230px;
}

.header--page_nav-item {
    border-bottom: 3px solid white;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.header--page_nav-item:last-child{
    border: none;
}


.header--page_nav-item a{
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.header--page_nav-item a:hover{
    color: #18B4CF;
    font-size: 21px;
}

.header--page_nav-item:nth-child(2) a:hover{
    color: #18B4CF;
    font-size: 21px;
}

.header--search_image{
    transition-duration: 0.5s;
}

.header--search_image:hover{
    opacity: 0.5;
}

.scroll-to-top-btn{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #18B4CF;
    background-color: #FFFFFF;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 60px;
    transition: 0.3s;
    font-size: 18px;
    visibility: hidden;
}

.scroll-to-top-btn.active{
    visibility: visible;
}

.scroll-to-top-btn:hover{
    width: 80px;
    height: 80px;
    font-size: 20px;
    color: #18B4CF;
}

.hide-show-btn{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: #18B4CF;
    border: 2px solid black;
    color: #FFFFFF;
    box-shadow: 0 5px 0 #3c354a;
    transition-duration: 0.5s;
}

.hide-show-btn:hover{
    box-shadow: 0 1px 0 #3c354a;
    background-color: red;
}
