.header{
    height: 439px;
    background-image: url("../images/header-background.png");
    background-size: cover;
    position: relative;
}

.header--logo{
    position: absolute;
    top: 22px;
    left: 27px;
}

.header--company_name{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 22px;
    left: 83px;
    margin: 0;
}

.header--company_name p{
    margin: 0;
}

.header--nav-container{
    list-style: none;
    padding: 0;
    background-color: rgba(49, 49, 49, 1);
    height: 70px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.header--nav-items a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.header--nav-items a:hover{
    color: #14B9D5;
}

.header--nav-items:not(:last-child){
    padding-right: 35px;
}

.header--search_image{
    width: 68px;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 1;
}

.header--search_image img{
    display: block;
    margin: 27px 0 0 26px;
}

.header--title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin: 164px 0 60px 0;
}

.header--buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.header--buttons-btn1{
    width: 170px;
    height: 55px;
    background: #89CA62;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.header--buttons-btn2{
    width: 170px;
    height: 55px;
    background: #14B9D5;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.section--title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin: 49px 0 52px 0;
}

.section1--posts-wrapper{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.section1--posts-items img{
    display: block;
}

.section1--posts-text{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    height: 61px;
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-top: 16px;
}

.section1--posts-items{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.item1{
    height: 320px;
}

.item4{
    position: relative;
    bottom: 90px;
    height: 321px;
}

.item2{
    height: 441px;
}

.item5{
    height: 309px;
    position: relative;
    top: 30px;
}

.item3{
    height: 355px;
}

.item6{
    height: 441px;
    position: relative;
    bottom: 50px;
}

.section2{
    height: 558px;
    background-image: url("../images/section2_background.png");
    background-size: cover;
    background-attachment: fixed;
}

.section2--title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 108px;
    margin: 0;
}

.section2--title::after{
    content: "";
    border-bottom: 3px solid #18B4CF;
    display: block;
    width: 60px;
    margin: 0 auto;
    padding-top: 87px;
}

.section2--img{
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.section3--grid-picture-wrapper{
    display: grid;
    grid-template-columns: repeat(7, auto);
    overflow: hidden;
    justify-items: center;
    justify-content: center;
}

.section3--grid-picture-item img{
    display: block;
}

.section4--grid-wrapper{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-gap: 20px;
}

.section4--grid-item-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.section4--grid-item1{
    grid-column-start: span 3;
    display: flex;
    text-align: right;
}

.section4--grid-item1 img{
    display: block;
}

.section4--grid-item1-text-container{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    padding: 41px 24px 40px 5px;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.section4--grid-item2{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.section4--grid-item2 img{
    display: block;
}

.section4--grid-item3{
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
}

.section4--grid-item3-text-container{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 20px 0 0;
}

.section4--grid-item4{
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
}

.section4--grid-item4-text-container {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 20px 0 0;
}

.section4--grid-item5{
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
}

.section4--grid-item5-text-container {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 20px 0 0;
}

.section4--grid-item6{
    grid-column-start: span 2;
    display: flex;
    flex-direction: column;
}

.section4--grid-item6-text-container {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 20px 0 0;
}

.section4--grid-item7{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.section4--grid-item8{
    grid-column-start: span 3;
    display: flex;
}

.section4--grid-item8-text-container {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: right;
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 20px 20px 0 0;
}

.footer--block{
    min-height: 80px;
    background-color: #000000;
    position: relative;
    margin-top: 77px;
}

.footer--text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
    padding: 29px 0 30px 367px;
}

.footer--logo{
    position: absolute;
    top: 29px;
    right: 358px;
}







